.hidden-message {
  $height: 68px;

  height: $height;
  line-height: $height;
  margin-left: 58px;
}

a {
  cursor: pointer;
}

.tweet {
  .toggle-hide {
    font-size: 13px;
    color: rgb(221, 221, 221);
  }

  &:hover {
    .toggle-hide {
      color: rgb(153, 153, 153);
    }
  }
}

